<div class="container" style="margin-bottom: 40px;">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-5 col-md-4 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Signup
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="" method="post">
                        <div class="form-group">
                            <label class="form-control-label">USERNAME</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input type="password" class="form-control" i>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">CONFORM PASSWORD</label>
                            <input type="password" class="form-control" i>
                        </div>


                        <div class="col-lg-12 loginbttm text-right">

                            <div class="login-btm  login-button">
                                <button type="submit" class="btn btn-outline-primary">SIGNUP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>

    </div>